name: Merge to Main Branch

on:
  pull_request:
    branches:
      - main
    types:
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
      - ready_for_review
      - reopened
      - unlocked
  pull_request_review:
    types:
      - submitted
  status: {}

jobs:
  auto-merge:
    runs-on: ubuntu-latest
    steps:
      - name: Merging to Main Branch
        uses: 'pascalgn/automerge-action@v0.15.3'
        env:
          GITHUB_TOKEN: '${{ secrets.PERSONAL_ACCESS_TOKEN }}'
          MERGE_LABELS: 'autorelease: pending'
